<h2>Manage Customers</h2>
<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);" routerLink='/customers/list'>Customers List</a></li>
  <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);" routerLink='/customers/prospects'>Prospect Customers</a></li>
  <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);" routerLink='/customers/inquiries'>Inquiries</a></li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>